<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
            rel="stylesheet"
        />
        <title>prediksi gambar bunga</title>
    </head>
    <body
        class="
            flex flex-col
            justify-between
            item-center
            p-8
            min-h-screen
            bg-gradient-to-r
            from-green-400
            to-blue-500
            text-gray-800
            md:flex-row
        "
    >
        <main class="bg-white p-16 rounded-lg">
            <h1 class="text-3xl font-bold mb-8">
                prediksi gambar bunga
            </h1>
            <section class="contact-section" style="padding-top:50px;" id="predict1">
                <div class="container">
                    <div class="title-box centred" id="architechture">
                        <div class="sec-title"><a class="sec-title" href="#predict1">Upload an Image</a> / <a class="sec-title" href="#predict2">Select an Image</a><br></div><br>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Image file is required" id="input">
                        <input class="input100" id="image-source" name="file" onchange="previewImage();" type="file" alt="Input Image" accept="image/jpeg,image/jpg,image/png">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-file" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
                

            <form
                action="{{ url_for('predict') }}"
                method="post"
                class="flex flex-col"
            >
                
                
                <button
                    type="submit"
                    class="
                        flex
                        justify-center
                        align-center
                        mt-8
                        p-4
                        bg-gradient-to-r
                        from-green-400
                        to-blue-500
                        text-white
                        rounded-md
                    "
                >
                    PREDIKSI SEKARANG
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-arrow-right ml-4"
                    >
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                    </svg>
                </button>
            </form>
        </main>
        <section class="mt-8 h-full flex-auto rounded-lg md:mt-0 md:ml-8">
            <div class="bg-white p-16 rounded-lg">
                <div class="divTableCell" style="width: 50%;">
                    <div class="sec-title" style="font-size: 40px;">Result</div><br>
                    <img style="padding-top: 15%;padding-bottom: 15%;width: 70%;"
                    src="{{ url_for('static', filename='images/result.jpg') }}">
                </div>
            </div>
        </section>
    </body>
</html>
